<ion-view title="Choose Your Route" hide-back-button="true" id="page4">
    <ion-content padding="true" class="has-header">
        <div id="chooseYourRoute-container2">
            <form id="chooseYourRoute-form3" class="list">
                <div class="spacer" style="width: 300px; height: 24px;"></div>
                <label class="item item-input" id="chooseYourRoute-input8" name="origin">
                    <input type="text" placeholder="Origin">
                </label>
                <label class="item item-input" id="chooseYourRoute-input9">
                    <input type="text" placeholder="Destination">
                </label>
            </form>
        </div>
        <div class="spacer" style="width: 300px; height: 31px;"></div>
        <form id="chooseYourRoute-form8" class="list">
            <ion-toggle toggle-class="toggle-positive" id="chooseYourRoute-toggle2" name="safestRoute">Optimize Safest Route</ion-toggle>
        </form>
        <div class="spacer" style="width: 300px; height: 170px;"></div>
        <a ui-sref="enroute" id="chooseYourRoute-button10" class="button button-positive button-large button-block icon-left ion-android-bus">Calculate my Route</a>
    </ion-content>
</ion-view>