<ion-view title="Page" id="page7">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 33px;"></div>
        <h1 id="page-heading1" style="color:#000000;text-align:center;">You're safest when you ride with a buddy!</h1>
        <div class="spacer" style="width: 300px; height: 74px;"></div>
        <div>
            <img src="img/my buddy gray.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>
