<ion-view title="Trip Complete" id="page7">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 11px;"></div>
        <h2 id="tripComplete-heading2" style="color:#000000;font-style:italic;text-align:center;">You're safest when you ride with a buddy!</h2>
        <div class="spacer" style="width: 300px; height: 49px;"></div>
        <div class="detroit">
            <img src="img/t56C5mtjSXec5fVKJrYu_spiritofdetroit.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 26px;"></div>
        <a ui-sref="chooseYourRoute" id="tripComplete-button14" class="button button-stable  button-block">Plan another trip</a>
    </ion-content>
</ion-view>