<ion-view title="" id="page4">
    <ion-content padding="true" class="has-header">
        <div id="page4-button-bar1" class="button-bar"></div>
        <form id="page4-form6" class="list">
            <label class="item item-input" id="page4-input6">
                <input type="text" placeholder="Origin">
            </label>
            <label class="item item-input" id="page4-input7">
                <input type="text" placeholder="Destination">
            </label>
        </form>
    </ion-content>
</ion-view>