<ion-view title="Signup" id="page3">
    <ion-content padding="true" class="has-header">
        <form id="signup-form2" class="list">
            <ion-list id="signup-list2">
                <label class="item item-input" id="signup-input3">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="signup-input4">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="signup-input5">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
                <label class="item item-input" id="signup-input11">
                    <span class="input-label">Age</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="signup-input12">
                    <span class="input-label">Height</span>
                    <input type="text" placeholder="ex: 4 ft 9 inches">
                </label>
            </ion-list>
            <label class="item item-input" id="signup-input13">
                <span class="input-label">1st Buddy</span>
                <input type="tel" placeholder="(123)-456-7890">
            </label>
            <label class="item item-input" id="signup-input14">
                <span class="input-label">2nd Buddy</span>
                <input type="tel" placeholder="(123)-456-7890">
            </label>
            <button id="signup-button3" class="button button-stable  button-block">Sign up</button>
        </form>
    </ion-content>
</ion-view>